<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ABOUT_US</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../assets/css/style.css" rel="stylesheet"/>
<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"  />
<link rel="stylesheet" href="../portfolio/layout.css">
<link rel="stylesheet" href="../owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="../owlcarousel/owl.theme.default.min.css">

 
  
</head>

<body>
 
  
</head>

<body>




<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light zook2 "> <a class="navbar-brand zook"
        href="index.html"><img src="../assets/images/imgpsh_fullsize_anim.png" style="width: 60%;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse zook1" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item "> <a class="nav-link" href="index.html">Home</a> </li>
                 <li class="nav-item "> <a class="nav-link" href="blog.html">Blog</a> </li>
                <li class="nav-item active jos"> <a class="nav-link" href="about-us.html">About-Us <span
                class="sr-only">(current)</span></a> </li>
                <li class="nav-item "> <a class="nav-link" href="contact.html">Contact Us</a> </li>

          </li>
        </ul>
      </div>
    </nav>
  </div>



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active"> <img src="../assets/images/backimg.jpg" class="d-block w-100" style="height: 400px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="act3">
        <div class="container">
          <h5 class="act1">ABOUT US</h5>
          <p class="act">  Home > About us</p>
          </div>
      </div>
    </div>
   
      </div>
    </div>
  </div>
  




<div class="hab">
<div class="container">
<div class="row">




<div class="col-md-4">

<p class="hab1"><i class="fa fa-envelope-o"></i>  <gate> Lorem Ipsum Product Lean</gate>  </p>

<p class="hab1"><i class="fa fa-star-o"></i> <gate> Lorem Ipsum Product Lean</gate>   </p>


<p class="hab1"><i class="fa fa-heart-o"></i>  <gate> Lorem Ipsum Product Lean</gate>  </p>

<p class="hab1"><i class="fa fa-eye"></i> <gate> Lorem Ipsum Product Lean</gate>   </p>

<p class="hab1"><i class="fa fa-files-o"></i>  <gate> Lorem Ipsum Product Lean</gate>  </p>


<p class="hab1"> <i class="fa fa-wheelchair"></i> <gate> Lorem Ipsum Product Lean</gate>  </p>

<p class="hab1"><i class="fa fa-film"></i> <gate> Lorem Ipsum Product Lean</gate>   </p>





<div class="ges">
<div class="container">
<p class="put3">OPENING HOUR </p>
<p class="put4"></p>


<div class="bar8">
<div class="row">

<div class="col-6">
<p class="put1"> Mon-Tue </p>
</div>

<div class="col-6">
<p class="put2">10:00Am-6:00Pm</p>
</div>
</div>

</div>







<div class="bar8">
<div class="row">
<div class="col-6">
<p class="put1"> Wed- Thu</p>
</div>
<div class="col-6">
<p class="put2"> 9:00Am-7:00Pm</p>
</div>
</div>
</div>




<div class="bar8">
<div class="row">
<div class="col-6">
<p class="put1">Friday</p>
</div>
<div class="col-6">
<p class="put2"> 11:00Am-8:00Pm</p>

</div>
</div>
</div>



<div class="bar8">
<div class="row">
<div class="col-6">
<p class="put1">Saturday</p>
</div>
<div class="col-6">
<p class="put2"> 8:00Am-5:00Pm</p>
</div>
</div>
</div>




<div class="bar8">
<div class="row">
<div class="col-6">
<p class="put1">Sunday</p>
</div>
<div class="col-6">
<p class="put2">Closed</p>
</div>
</div>
</div>



</div>
</div>
</div>










<div class="col-md-8">

<div class="row">
<img src="../assets/images/contact-img.png" width="100%"  height="420px" style="margin-top:24px" />
</div>


<div class="row">
<div class="container">
<p class="hab2"> <span> CORDIOLOGIST</span> DEPARTMENT</p>
<P class="hab3">  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled itLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled  to make a type specimen book. It has survived not only five centuries, but also  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  </P>
</div>
</div>

<div class="row">
<div class="col-md-5">
<p class="pit">TREATMENTS FEE </p>
<p class="pit1"></p>


<p class="pit2"> <i class="fa fa-check-circle-o"></i>Cordiologist Test - $104  </p>
<p class="pit2"> <i class="fa fa-check-circle-o"></i>Orthopiedics Test - $30  </p>
<p class="pit2"><i class="fa fa-check-circle-o"></i> Neurosciences Test - $45  </p>
<p class="pit2"> <i class="fa fa-check-circle-o"></i>Cancer Blood - $81  </p>
<p class="pit2"> <i class="fa fa-check-circle-o"></i>Gastroentology Test - $112  </p>
<p class="pit2"> <i class="fa fa-check-circle-o"></i>Colorectal Test - $79  </p>
<p class="pit2"><i class="fa fa-check-circle-o"></i> Cordiologist Test - $54  </p>
<p class="pit2"><i class="fa fa-check-circle-o"></i> Spin Test - $120  </p>
</div>



<div class="col-md-1"></div>
<div class="col-md-5">
<p class="pit">TREATMENTS FEE </p>
<p class="pit1"></p>


<p class="pit2"> <i class="fa fa-check-circle-o"></i>Cordiologist Test - $104  </p>
<p class="pit2"> <i class="fa fa-check-circle-o"></i>Orthopiedics Test - $30  </p>
<p class="pit2"><i class="fa fa-check-circle-o"></i> Neurosciences Test - $45  </p>
<p class="pit2"> <i class="fa fa-check-circle-o"></i>Cancer Blood - $81  </p>
<p class="pit2"> <i class="fa fa-check-circle-o"></i>Gastroentology Test - $112  </p>
<p class="pit2"> <i class="fa fa-check-circle-o"></i>Colorectal Test - $79  </p>
<p class="pit2"><i class="fa fa-check-circle-o"></i> Cordiologist Test - $54  </p>
<p class="pit2"><i class="fa fa-check-circle-o"></i> Spin Test - $120  </p>
</div>

<div class="col-md-1"></div>

</div>


</div>

</div>
</div>
</div>






























<div class="end4">

<div class="container">

<div class="row">


<div class="col-md-4">
<div class="mam">
<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-phone"></i> </p>
</div>
<div class="col-10">
<div class="bar4">
<p class="mam2">GIVE US A CALL </p>
<p class="mam3"> +19 345 687 934</p>
</div>
</div>





</div>
</div>



</div>
</div>





<div class="col-md-4">
<div class="mam">

<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-envelope-open-o"></i> </p>
</div>
<div class="col-10">
<div class="bar4">
<p class="mam2">SEND US A MESSAGE </p>
<p class="mam3">Your_mail@gmail.com</p>
</div>
</div>





</div>

</div>



</div>
</div>


<div class="col-md-4">
<div class="mam">


<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-map-marker"></i> </p>
</div>
<div class="col-10">

<p class="mam2">VISIT OUR LOCATION </p>
<p class="mam3"> 12 New yark,USA</p>

</div>



</div>
</div>
</div>
</div>
</div>
</div>
</div>




    <div class="vet">
      <div class="container">
        <div class="row">


          <div class="col-md-3">

            <p class="vet1">ABOUT US </p>
            <p class="vet2"></p>
            <p class="vet3"> Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the
              this product vituiythhh </p>
            <p class="vet4"><i class="fa fa-phone"></i> Phone : 001(407) 903-3452 </p>
            <p class="vet5"><i class="fa fa-envelope-o"></i> Email : Info@testminds.com</p>
            <p class="vet6"></p>
            <a class="vet7" href="home2.html"> <i class="fa fa-twitter"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-facebook"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-instagram"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-linkedin"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-dribbble"></i></a>

          </div>





          <div class="col-md-3">
            <p class="vet1">OUR PAGES </p>
            <p class="vet2"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> About Us</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Services</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Gallery</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Blog</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Contact</p>
            <p class="vet9"></p>

          </div>





          <div class="col-md-3">

            <p class="vet1">OUR SERVICES </p>
            <p class="vet2"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> About Us</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Services</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Gallery</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Blog</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Contact</p>
            <p class="vet9"></p>


          </div>





          <div class="col-md-3">
            <p class="vet1">FLIKER FEED </p>
            <p class="vet2"></p>
            <div class="row">
              <div class="col">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" style="margin-bottom:4px" />
              </div>
              <div class="col">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>

              <div class="col">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" />
              </div>

            </div>



            <div class="row">
              <div class="col-4">
                <img src="../assets/images/p4.jpeg" width="100%" height="85px" style="margin-bottom:4px" />
              </div>
              <div class="col-4">
                <img src="../assets/images/p5.jpeg" width="100%" height="85px" />
              </div>

              <div class="col-4">
                <img src="../assets/images/p4.jpeg" width="100%" height="85px" />
              </div>

            </div>


            <div class="row">
              <div class="col-4">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>
              <div class="col-4">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" />
              </div>

              <div class="col-4">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>


<div class="footer">
      <p class="prot"> Test@2021.com</p>


    </div>





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" ></script> 
<script src="../bootstrap/js/bootstrap.min.js" ></script>



  
</body>
</html>
