<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BLOG</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../assets/css/style.css" rel="stylesheet"/>
<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"  />
<link rel="stylesheet" href="../portfolio/layout.css">
<link rel="stylesheet" href="../owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="../owlcarousel/owl.theme.default.min.css">

 
  
</head>

<body>





<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light zook2 "> <a class="navbar-brand zook"
        href="index.html"><img src="../assets/images/imgpsh_fullsize_anim.png" style="width: 60%;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse zook1" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item "> <a class="nav-link" href="index.html">Home</a> </li>
                <li class="nav-item active jos"> <a class="nav-link" href="">Blog <span
                class="sr-only">(current)</span></a> </li>
                <li class="nav-item "> <a class="nav-link" href="about-us.html">About Us</a> </li>
                <li class="nav-item "> <a class="nav-link" href="contact.html">Contact Us</a> </li>

          </li>
        </ul>
      </div>
    </nav>
  </div>



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active"><img src="../assets/images/backimg.jpg" class="d-block w-100" style="height: 400px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="act3">
          <h5 class="act1">BLOG</h5>
          <p class="act">  Home >Blog</p>
          
      </div>
    </div>
   
      </div>
    </div>
  </div>
  
  
  
  
  <div class="head">
  <div class="container">
  <div class="row">
  
  
  
  
  <div class="col-md-4">
  
  
  
  
  
 
  
  <div class="row">
<div class="col-1"></div>
<div class="col-10">
<div class="ptp">
  <section class="bd-example"<style=" background-size:cover; height:400px">
    <div class="conatiner">
      <div class="row">
        <!--<div class="col-md-1"></div>-->
        <div class="col-md-12">
          <div class="owl-carousel owl-theme" id="empCarousel">
            <div class="more">
              <div class="item1 ">
                
                <p class="oil">ABOUT US</p>
               
               
                <p class="oil1"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley  but also the leap into electronic  remaining essentially unchanged. </p>
               
              </div>
            </div>
            <div class="more">
              
               <div class="item1">
               
                <p class="oil">ABOUT US</p>
               
                 
                <p class="oil1"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley  but also the leap into electronic  remaining essentially unchanged. </p>
              </div>
            </div>
             
            <div class="more">
             
               <div class="item1">
                 
                <p class="oil">ABOUT US</p>
                
                <p class="oil1"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley  but also the leap into electronic  remaining essentially unchanged. </p>
             </div>
            </div>
          </div>
        </div>
        <!--<div class="col-md-1"></div>-->
      </div>
    </div>
  </section>
</div>
</div>
<div class="col-1"></div>

</div>






<!--<div class="container">-->
 <div class="row">
 
   <div class="col-md-1"></div>
   <div class="col-md-10">
  <p class="kol">Recent post</p>
  
  <div class="item2">
                 
  <div class="row">
  <div class="col-4">
  
  <img src="../assets/images/p4.jpeg" width="100%" height="80px"/>
  </div>
  
  <div class="col-7">
  <p class="lop">Eius haram shunt   </p>
  <p class="lop1">  Comque  </p>
  <p class="lop2"> 20 Jun 2018    </p>
   </div>
  </div>
  
  
   <div class="row">
  <div class="col-4">
  
  <img src="../assets/images/p4.jpeg" width="100%"  height="80px"/>
  </div>
  
  <div class="col-7">
  <p class="lop">Eius haram shunt   </p>
  <p class="lop1">  Comque  </p>
  <p class="lop2"> 20 Jun 2018    </p>
   </div>
  </div>
  
  
  
   <div class="row">
  <div class="col-4">
  
  <img src="../assets/images/p4.jpeg" width="100%" height="80px"/>
  </div>
  
  <div class="col-7">
  <p class="lop">Eius haram shunt   </p>
  <p class="lop1">  Comque  </p>
  <p class="lop2"> 20 Jun 2018    </p>
   </div>
  </div>
  
  </div>
  
  </div>
   <div class="col-md-1"></div>
  
  </div>








  
 <div class="row">
 
   <div class="col-md-1"></div>
   <div class="col-md-10"> 
   <p class="kol">Catagories</p>
  
  <p class="pok"> <i class="fa fa-angle-right"></i> Recent posts(10)</p>
  <p class="pok1"></p>
  <p class="pok"> <i class="fa fa-angle-right"></i> Latest News(20)</p>
   <p class="pok1"></p>
  <p class="pok"><i class="fa fa-angle-right"></i>  Recent projects(21)</p>
   <p class="pok1"></p>
  <p class="pok"> <i class="fa fa-angle-right"></i> Events(32)</p>
   <p class="pok1"></p>
  <p class="pok"> <i class="fa fa-angle-right"></i>News(20)</p>
   <p class="pok1"></p>
  <p class="pok"> <i class="fa fa-angle-right"></i> Alerts(12)</p>
   <p class="pok1"></p>
  
    
 </div>
    <div class="col-md-1"></div>
 </div>
  
  
  
  
 
   <div class="row">
 
   <div class="col-md-1"></div>
   <div class="col-md-10"> 
   <p class="kol">Papular Tags</p>
   <div class="tags">
   <p class="kol1">
   <li ><a class="pet3" >Marcketing</a></li>
<li ><a class="pet3" >Promotion</a></li>
<li ><a class="pet3" >Development</a></li>
<li ><a class="pet3" >Site</a></li>
<li ><a class="pet3" >Grow</a></li>
<li ><a class="pet3" >Optimization</a></li>
<li ><a class="pet3" >Promotion</a></li>
<li ><a class="pet3" >Recent projrcts</a></li>
<li ><a class="pet3" >News</a></li>
  </div>
  </div>
  
  
   <div class="col-md-1"></div>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="row">
 
   <div class="col-md-1"></div>
   <div class="col-md-10"> 
   <p class="kol">Archive</p>
  
  <p class="pok"> <i class="fa fa-angle-right"></i> January 2018</p>
  <p class="pok1"></p>
  <p class="pok"> <i class="fa fa-angle-right"></i> February 2017</p>
   <p class="pok1"></p>
  <p class="pok"><i class="fa fa-angle-right"></i> March 2016</p>
   <p class="pok1"></p>
  <p class="pok"> <i class="fa fa-angle-right"></i> June 2019</p>
   <p class="pok1"></p>
  <p class="pok"> <i class="fa fa-angle-right"></i>December 2015</p>
   <p class="pok1"></p>
  <p class="pok"> <i class="fa fa-angle-right"></i>July 2018</p>
   <p class="pok1"></p>
  
    
 </div>
    <div class="col-md-1"></div>
 </div>
  
  
  
  
 
  </div>
  
  
  
  
  <div class="col-md-8">
  
  <div class="container">
  
  <div class="row">
  
  <div class="card">
    <img src="../assets/images/p5.jpeg" class="card-img-top" alt="...">
    
    <div class="let3">
    <p class="het1">  13</p>
    <p class="bar7"> </p>
    <p class="het2">  JUN</p>
    </div>
    
    <div class="card-body">
    <div class="jet">
      <p class="let2"><i class="fa fa-user-o"></i>  <data>Admin </data> <i class="fa fa-heart-o"></i> <data> Like : 20  </data>   <i class="fa fa-comment-o"></i> <data1>Comments : 10</data1></p>
      <p class="let1">YOUR BLOG TITLE HERE</p>
        <p class="jet4">Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the this product vituiythhh dghnvd  Are Creating Lorem Ipsum product the this product vituiythhh company height A about the this product vituiythhh the this product vituiythhh company height A about the this product vituiythhh   </p>
     <button class="jet3"> READ MORE</button>
     </div>
    </div>
  </div>
  </div>
  
  
  
   <div class="row">
  
  <div class="card">
    <img src="../assets/images/p8.jpeg" class="card-img-top" alt="...">
    
    <div class="let3">
    <p class="het1">  13</p>
    <p class="bar7"> </p>
    <p class="het2">  JUN</p>
    </div>
    
    <div class="card-body">
    <div class="jet">
      <p class="let2"><i class="fa fa-user-o"></i>  <data>Admin </data> <i class="fa fa-heart-o"></i> <data> Like : 20  </data>   <i class="fa fa-comment-o"></i> <data1>Comments : 10</data1></p>
      <p class="let1">YOUR BLOG TITLE HERE</p>
        <p class="jet4">Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the this product vituiythhh dghnvd  Are Creating Lorem Ipsum product the this product vituiythhh company height A about the this product vituiythhh the this product vituiythhh company height A about the this product vituiythhh   </p>
     <button class="jet3"> READ MORE</button>
     </div>
    </div>
  </div>
  </div>
  
  
  
  
  
  
   <div class="row">
  
  <div class="card">
    <img src="../assets/images/p4.jpeg" class="card-img-top" alt="...">
    
    <div class="let3">
    <p class="het1">  13</p>
    <p class="bar7"> </p>
    <p class="het2">  JUN</p>
    </div>
    
    <div class="card-body">
    <div class="jet">
      <p class="let2"><i class="fa fa-user-o"></i>  <data>Admin </data> <i class="fa fa-heart-o"></i> <data> Like : 20  </data>   <i class="fa fa-comment-o"></i> <data1>Comments : 10</data1></p>
      <p class="let1">YOUR BLOG TITLE HERE</p>
        <p class="jet4">Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the this product vituiythhh dghnvd  Are Creating Lorem Ipsum product the this product vituiythhh company height A about the this product vituiythhh the this product vituiythhh company height A about the this product vituiythhh   </p>
     <button class="jet3"> READ MORE</button>
     </div>
    </div>
  </div>
  </div>
  
   
  
  </div>
  </div>
  
  
  
  
 
  
  
  
 </div>
  </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  


<div class="end4">

<div class="container">

<div class="row">


<div class="col-md-4">
<div class="mam">
<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-phone"></i> </p>
</div>
<div class="col-10">
<div class="bar4">
<p class="mam2">GIVE US A CALL </p>
<p class="mam3"> +19 345 687 934</p>
</div>
</div>





</div>
</div>



</div>
</div>





<div class="col-md-4">
<div class="mam">

<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-envelope-open-o"></i> </p>
</div>
<div class="col-10">
<div class="bar4">
<p class="mam2">SEND US A MESSAGE </p>
<p class="mam3">Your_mail@gmail.com</p>
</div>
</div>





</div>

</div>



</div>
</div>


<div class="col-md-4">
<div class="mam">


<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-map-marker"></i> </p>
</div>
<div class="col-10">

<p class="mam2">VISIT OUR LOCATION </p>
<p class="mam3"> 12 New yark,USA</p>

</div>



</div>
</div>
</div>
</div>
</div>
</div>
</div>




    <div class="vet">
      <div class="container">
        <div class="row">


          <div class="col-md-3">

            <p class="vet1">ABOUT US </p>
            <p class="vet2"></p>
            <p class="vet3"> Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the
              this product vituiythhh </p>
            <p class="vet4"><i class="fa fa-phone"></i> Phone : 001(407) 903-3452 </p>
            <p class="vet5"><i class="fa fa-envelope-o"></i> Email : Info@testminds.com</p>
            <p class="vet6"></p>
            <a class="vet7" href="home2.html"> <i class="fa fa-twitter"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-facebook"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-instagram"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-linkedin"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-dribbble"></i></a>

          </div>





          <div class="col-md-3">
            <p class="vet1">OUR PAGES </p>
            <p class="vet2"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> About Us</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Services</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Gallery</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Blog</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Contact</p>
            <p class="vet9"></p>

          </div>





          <div class="col-md-3">

            <p class="vet1">OUR SERVICES </p>
            <p class="vet2"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> About Us</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Services</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Gallery</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Blog</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Contact</p>
            <p class="vet9"></p>


          </div>





          <div class="col-md-3">
            <p class="vet1">FLIKER FEED </p>
            <p class="vet2"></p>
            <div class="row">
              <div class="col">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" style="margin-bottom:4px" />
              </div>
              <div class="col">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>

              <div class="col">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" />
              </div>

            </div>



            <div class="row">
              <div class="col-4">
                <img src="../assets/images/p4.jpeg" width="100%" height="85px" style="margin-bottom:4px" />
              </div>
              <div class="col-4">
                <img src="../assets/images/p5.jpeg" width="100%" height="85px" />
              </div>

              <div class="col-4">
                <img src="../assets/images/p4.jpeg" width="100%" height="85px" />
              </div>

            </div>


            <div class="row">
              <div class="col-4">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>
              <div class="col-4">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" />
              </div>

              <div class="col-4">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>


<div class="footer">
      <p class="prot"> Test@2021.com</p>


    </div>





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" ></script> 
<script src="../bootstrap/js/bootstrap.min.js" ></script>



  
</body>
</html>
