<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CONTACT_US</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../assets/css/style.css" rel="stylesheet"/>
<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"  />
<link rel="stylesheet" href="../portfolio/layout.css">
<link rel="stylesheet" href="../owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="../owlcarousel/owl.theme.default.min.css">

 
  
</head>

<body>





<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light zook2 "> <a class="navbar-brand zook"
        href="index.html"><img src="../assets/images/imgpsh_fullsize_anim.png" style="width: 60%;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse zook1" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" href="index.html">Home</a> </li>
                 <li class="nav-item"> <a class="nav-link" href="blog.html">Blog</a> </li>
                <li class="nav-item"> <a class="nav-link" href="about-us.html">About Us</a> </li>
                <li class="nav-item active jos"> <a class="nav-link" href=""> Contact Us <span
                class="sr-only">(current)</span></a> </li>

          </li>
        </ul>
      </div>
    </nav>
  </div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active"> <img src="../assets/images/backimg.jpg" class="d-block w-100" style="height: 400px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="act3">
          <h5 class="act1">CONTACT US</h5>
          <p class="act">  Home >contact</p>
          
      </div>
    </div>
   
      </div>
    </div>
  </div>
  

<div class="match">
<div class="container">
<div class="row">



<div class="col-md-7">
<div class="container">
<p class="match1">  CONTACT</p>

<div class="form-row jos">
    <div class="col-6">
      <input type="text1" class="form-control" id="fname2" placeholder="Your name">
    </div>
    <div class="col-6">
      <input type="email" class="form-control" id="fname2" placeholder="Your Email">
    </div>
  </div>
  <div class="row">
<div class="container">

 <div class="form-group jos">
    
    <input type="text1" class="form-control" id="fname2" placeholder="Subject">
  </div>
  </div>
  </div>



 <div class="row ">
<div class="container">

 <div class="form-group">
    
    <textarea class="form-control" id="fname1" placeholder="Write Message"  ></textarea>
  </div>
  </div>
  </div>
  
  <div class="container">
  <div class="row jos">
  <button class="but5"> SEND MESSAGE</button>
  </div>
  </div>
  
  </div>
</div>





<div class="col-md-5">
<div class="container">


<div class="net">
<div class="row">

<div class="col-2">

<p class="did"> <i class="fa fa-university"></i>   </p>
</div>
<div class="col-8">
<p class="did1"> HOME ADDRESS</p>
<p class="did2">5B City, Bnagalore #345 jp Ngara  </p>
<p class="did3">Kulna BD    </p>
</div>
</div>


<div class="col-2"></div>


</div>






<div class="net">
<div class="row">

<div class="col-2">

<p class="did"> <i class="fa fa-clock-o"></i>   </p>
</div>
<div class="col-8">
<p class="did1"> BUSINESS HOURS</p>
<p class="did2">Mon-Fri:10:00am-6:00pm  </p>
<p class="did3">Saturday:9:00am-7:00pm   </p>
</div>
</div>


<div class="col-2"></div>


</div>




<div class="net">
<div class="row">

<div class="col-2">

<p class="did"> <i class="fa fa-envelope-o"></i>  </p>
</div>
<div class="col-8">
<p class="did1"> Email</p>
<p class="did2">Testminds@gmail.com </p>
<p class="did3">Info@gmail.com   </p>
</div>
</div>


<div class="col-2"></div>
</div>


</div>
</div>









</div>
</div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497698.660072568!2d77.35073295903771!3d12.954517012303143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1616129785548!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>












<div class="end4">

<div class="container">

<div class="row">


<div class="col-md-4">
<div class="mam">
<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-phone"></i> </p>
</div>
<div class="col-10">
<div class="bar4">
<p class="mam2">GIVE US A CALL </p>
<p class="mam3"> +19 345 687 934</p>
</div>
</div>





</div>
</div>



</div>
</div>





<div class="col-md-4">
<div class="mam">

<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-envelope-open-o"></i> </p>
</div>
<div class="col-10">
<div class="bar4">
<p class="mam2">SEND US A MESSAGE </p>
<p class="mam3">Your_mail@gmail.com</p>
</div>
</div>





</div>

</div>



</div>
</div>


<div class="col-md-4">
<div class="mam">


<div class="container">
<div class="row">

<div class="col-2">
<p class="mam1"><i class="fa fa-map-marker"></i> </p>
</div>
<div class="col-10">

<p class="mam2">VISIT OUR LOCATION </p>
<p class="mam3"> 12 New yark,USA</p>

</div>



</div>
</div>
</div>
</div>
</div>
</div>
</div>




    <div class="vet">
      <div class="container">
        <div class="row">


          <div class="col-md-3">

            <p class="vet1">ABOUT US </p>
            <p class="vet2"></p>
            <p class="vet3"> Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the
              this product vituiythhh </p>
            <p class="vet4"><i class="fa fa-phone"></i> Phone : 001(407) 903-3452 </p>
            <p class="vet5"><i class="fa fa-envelope-o"></i> Email : Info@testminds.com</p>
            <p class="vet6"></p>
            <a class="vet7" href="home2.html"> <i class="fa fa-twitter"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-facebook"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-instagram"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-linkedin"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-dribbble"></i></a>

          </div>





          <div class="col-md-3">
            <p class="vet1">OUR PAGES </p>
            <p class="vet2"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> About Us</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Services</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Gallery</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Blog</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Contact</p>
            <p class="vet9"></p>

          </div>





          <div class="col-md-3">

            <p class="vet1">OUR SERVICES </p>
            <p class="vet2"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> About Us</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Services</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Gallery</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Blog</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Contact</p>
            <p class="vet9"></p>


          </div>





          <div class="col-md-3">
            <p class="vet1">FLIKER FEED </p>
            <p class="vet2"></p>
            <div class="row">
              <div class="col">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" style="margin-bottom:4px" />
              </div>
              <div class="col">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>

              <div class="col">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" />
              </div>

            </div>



            <div class="row">
              <div class="col-4">
                <img src="../assets/images/p4.jpeg" width="100%" height="85px" style="margin-bottom:4px" />
              </div>
              <div class="col-4">
                <img src="../assets/images/p5.jpeg" width="100%" height="85px" />
              </div>

              <div class="col-4">
                <img src="../assets/images/p4.jpeg" width="100%" height="85px" />
              </div>

            </div>


            <div class="row">
              <div class="col-4">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>
              <div class="col-4">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" />
              </div>

              <div class="col-4">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>


<div class="footer">
      <p class="prot"> Test@2021.com</p>
    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
