<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Treate Heart- Disease</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../assets/css/style.css" rel="stylesheet" />
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../portfolio/layout.css">
  <link rel="icon" href="../assets/images/2004173.png" type="image/gif" sizes="24x24">
  <link rel="stylesheet" href="../owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="../owlcarousel/owl.theme.default.min.css">


</head>

<body>





  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light zook2 "> <a class="navbar-brand zook"
        href="index.html"><img src="../assets/images/imgpsh_fullsize_anim.png" style="width: 60%;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse zook1" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active jos"> <a class="nav-link" href="home2.html">Home <span
                class="sr-only">(current)</span></a> </li>

                <li class="nav-item "> <a class="nav-link" href="blog.html">Blog</a> </li>
                <li class="nav-item "> <a class="nav-link" href="about-us.html">About Us</a> </li>
                <li class="nav-item "> <a class="nav-link" href="contact.html">Contact Us</a> </li>

          </li>
        </ul>
      </div>
    </nav>
  </div>



  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"> <img src="../assets/images/d1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="par1">
            <h5>TREATE <span>HEART</span> DISEASE</h5>
            <p class="para"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum</br>
              We Are Creating Lorem Ipsum of the company says</p>
            <button type="button" class="btn btn-primary btn-lg">READE MORE</button>
            <button type="button" class="btn btn-secondary btn-lg">DONATE NOW </button>
          </div>
        </div>
      </div>
      <div class="carousel-item"> <img src="../assets/images/backimg.jpg" class="d-block w-100" style="height: 610px" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="par1">
            <h5>TREATE <span>HEART</span> DISEASE</h5>
            <p class="para"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum</br>
              We Are Creating Lorem Ipsum of the company says</p>
            <button type="button" class="btn btn-primary btn-lg">READE MORE</button>
            <button type="button" class="btn btn-secondary btn-lg">DONATE NOW </button>
          </div>
        </div>
      </div>
      <div class="carousel-item"> <img src="../assets/images/d3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="par1">
            <h5>TREATE <span>HEART</span>DISEASE</h5>
            <p class="para"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum</br>
              We Are Creating Lorem Ipsum of the company says</p>
            <button type="button" class="btn btn-primary btn-lg">READE MORE</button>
            <button type="button" class="btn btn-secondary btn-lg">DONATE NOW </button>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span
        class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a
      class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span
        class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
  </div>
  </div>




  <div class="star">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="star3">

            <p class="star1"> <i class="fa fa-strikethrough"></i> </p>
            <p class="star2"> Our Doctors </p>
            <div class="bar"></div>

            <p class="star4"> Choose by nsme. Speciality.City and more </p>
            <a class="star5" href="home2.html"> FIND A DOCTOR <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="star6">

            <p class="star1"> <i class="fa fa-heartbeat"></i> </p>
            <p class="star2">Department & Services</p>
            <div class="bar"></div>
            <p class="star4"> Choose by nsme. Speciality.City and more </p>
            <a class="star5" href="home2.html"> GET A DIRECTION <i class="fa fa-angle-right"></i> </a>
          </div>
        </div>


        <div class="col-md-4">
          <div class="star7">
            <p class="star1"> <i class="fa fa-medkit"></i> </p>
            <p class="star2"> Appointment </p>
            <div class="bar"></div>

            <p class="star4"> Choose by nsme. Speciality.City and more </p>
            <a class="star5" href="home2.html"> GET APPOINTMENT<i class="fa fa-angle-right"></i> </a>
          </div>
        </div>



      </div>
    </div>
  </div>


  <div class="end">
    <div class="container">
      <div class="row">


        <div class="col-md-7">
          <p class="pro1">WHY CHOOSE US </p>
          <p class="pro2">GET A WORLD CLASS HEALTH SERVICE NOW </p>
          <p class="pro3"> Medicative Hospital is here for you, Call +00 987 456 </p>

          <p class="pro4">
            <pro5> Consectater</pro5> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
            an unknown printer took a galley of type and scrambledLorem Ipsum has been the industry's standard dummy
          </p>

          <div class="container">
            <div class="row">

              <div class="col-6">
                <img src="../assets/img/y9.jpeg" width="100%" height="110px" />
              </div>

              <div class="col-6">
                <p class="pro5">Lorem Ipsum has been the industry's standard since the 1500s, when an unknown type and
                  scrambledLorem Ipsum has been the industry's standard dummy standard dummy </p>

              </div>

            </div>
          </div>





          <div class="container">
            <div class="row">
              <div class="col-2">
                <p class="sos">Cordiology</p>
              </div>
              <div class="col-10">
                <p class="sos1">85%</p>
              </div>

            </div>

            <div class="progress">

              <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuemin="85" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>


            <div class="row">
              <div class="col-6">
                <p class="sos">General practice</p>
              </div>
              <div class="col-6">
                <p class="sos1">60%</p>
              </div>

            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>


            <div class="row">
              <div class="col-6">
                <p class="sos">General surgery</p>
              </div>
              <div class="col-6">
                <p class="sos1">89%</p>
              </div>

            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>


            <div class="row">
              <div class="col-6">
                <p class="sos">Pharmacology</p>
              </div>
              <div class="col-6">
                <p class="sos1">60%</p>
              </div>

            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div></br>


          </div>







        </div>

        <div class="col-md-5">

          <p class="pro"><img src="../assets/img/p12 - Copy.jpeg" width="100%" height=595px; /></p>
        </div>



      </div>
    </div>
  </div>


  <div class="end1">
    <div class="container">

      <h3 class="wow">OUR <fan>SERVICES</fan>
      </h3>
      <div class="bar5"></div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p class="wow1"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum A about the
            this product vituiythhh company height A about the this product vituiythhh dghnvd olhdsdjWe Are Creating
            Lorem Ipsum A about the this product </p>
        </div>

        <div class="col-md-1"></div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="mot">
            <p class="but1"> <i class="fa fa-bug"></i> </p>
            <p class="but2">HEART TRANSPLANTS</p>
            <div class="but3"></div>
            <p class="but4"> Choose by nsme Speciality.City and more product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum </p>
            <button class="but">Read More</button>
          </div>

        </div>
        <div class="col-md-4">
          <div class="mot">
            <p class="but1"> <i class="fa fa-blind"></i> </p>
            <p class="but2">ORTHOPAEDICS</p>
            <div class="but3"></div>
            <p class="but4"> Choose by nsme Speciality.City and more product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum </p>
            <button class="but">Read More</button>
          </div>
        </div>



        <div class="col-md-4">
          <div class="mot">
            <p class="but1"> <i class="fa fa-heartbeat"></i> </p>
            <p class="but2">GASTROENTEROLOGY</p>
            <div class="but3"></div>
            <p class="but4"> Choose by nsme Speciality.City and more product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum </p>
            <button class="but">Read More</button>
          </div>
        </div>

      </div>

    </div>





    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="mot">
            <p class="but1"> <i class="fa fa-user-md"></i></p>
            <p class="but2">NEUROSCIENCES</p>
            <div class="but3"></div>
            <p class="but4"> Choose by nsme Speciality.City and more product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum </p>
            <button class="but">Read More</button>

          </div>
        </div>
        <div class="col-md-4">
          <div class="mot">
            <p class="but1"> <i class="fa fa-scissors"></i> </p>
            <p class="but2">SPINE CARE</p>
            <div class="but3"></div>
            <p class="but4"> Choose by nsme Speciality.City and more product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum </p>
            <button class="but">Read More</button>
          </div>
        </div>



        <div class="col-md-4">
          <div class="mot">
            <p class="but1"><i class="fa fa-low-vision"></i> </p>
            <p class="but2">CANCER CARE</p>
            <div class="but3"></div>
            <p class="but4"> Choose by nsme Speciality.City and more product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum </p>
            <button class="but">Read More</button>
          </div>
        </div>


      </div>
    </div>

  </div>
  </div>




  <div class="end3">
    <div class="container">
      <div class="row">



        <div class="col-md-5">
          <div class="gap">
            <img src="../assets/images/contact-img.png" width="100%" height="560px" />
          </div>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-6">
          <div class="container">
            <div class="mad1">

              <p class="mad2"> MAKE AN <span>OPPINTMENT</span></p>
              <div class="bar3"></div>
              <P class="mad3"> Choose by nsme Speciality.City and more product vituiythhh dghnvd olhdsdjWe Are Creating
                Lorem Ipsum</P>
              <form>
                <div class="form-row">
                  <div class="col-6">
                    <input type="text1" class="form-control" id="fname" placeholder="First name">
                  </div>
                  <div class="col-6">
                    <input type="text1" class="form-control" id="fname" placeholder="Last name">
                  </div>
                </div>


                <div class="form-row">
                  <div class="col-6">
                    <input type="text1" class="form-control" id="fname" placeholder="Input Subject">
                  </div>
                  <div class="col-6">
                    <input type="date" class="form-control" id="fname" placeholder="Input Date">
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-group col-6">

                    <input type="email" class="form-control" id="fname" placeholder="Your Email Here">
                  </div>

                  <div class="form-group col-6">

                    <input type="number" class="form-control" id="fname" placeholder="Your Phone">
                  </div>

                </div>


                <div class="row">
                  <div class="container">

                    <div class="form-group">

                      <textarea class="form-control" id="fname1" placeholder="Write Message"></textarea>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <button class="but5"> SEND MESSAGE</button>
                  </div>
                </div>

              </form>






            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




  <div class="end4">

    <div class="container">

      <div class="row">


        <div class="col-md-4">
          <div class="mam">
            <div class="container">
              <div class="row">

                <div class="col-2">
                  <p class="mam1"><i class="fa fa-phone"></i> </p>
                </div>
                <div class="col-10">
                  <div class="bar4">
                    <p class="mam2">GIVE US A CALL </p>
                    <p class="mam3"> +19 345 687 934</p>
                  </div>
                </div>





              </div>
            </div>



          </div>
        </div>





        <div class="col-md-4">
          <div class="mam">

            <div class="container">
              <div class="row">

                <div class="col-2">
                  <p class="mam1"><i class="fa fa-envelope-open-o"></i> </p>
                </div>
                <div class="col-10">
                  <div class="bar4">
                    <p class="mam2">SEND US A MESSAGE </p>
                    <p class="mam3">Your_mail@gmail.com</p>
                  </div>
                </div>





              </div>

            </div>



          </div>
        </div>


        <div class="col-md-4">
          <div class="mam">


            <div class="container">
              <div class="row">

                <div class="col-2">
                  <p class="mam1"><i class="fa fa-map-marker"></i> </p>
                </div>
                <div class="col-10">

                  <p class="mam2">VISIT OUR LOCATION </p>
                  <p class="mam3"> 12 New yark,USA</p>

                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="end5">
    <div class="container">

      <h3 class="wow">OUR <fan>PORTFOLIO</fan>
      </h3>
      <div class="bar5"></div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p class="wow1"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum A about the
            this product vituiythhh company height A about the this product vituiythhh dghnvd olhdsdjWe Are Creating
            Lorem Ipsum A about the this product </p>
        </div>

        <div class="col-md-1"></div>
      </div>





      <div class="container port-wrapper">
        <div class="got">
          <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter=".one, .two, .three">ALL</span></li>
            <li><span class="filter" data-filter=".one">Doctor 1</span></li>
            <li><span class="filter" data-filter=".two">Doctor 2</span></li>
            <li><span class="filter" data-filter=".three">Doctor 3</span></li>
          </ul>
        </div>
        <div id="portfoliolist">
          <div class="portfolio one" data-cat="Doctor 1">
            <div class="portfolio-wrapper"> <img src="../assets/images/p1.jpeg" alt="" height="250px" />
              <div class="label">
                <div class="label-text"> <a class="text-title">Bird Document</a> <span class="text-category">Doctor
                    1</span> </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio two" data-cat="Doctor 2">
            <div class="portfolio-wrapper"> <img src="../assets/images/p2.jpeg" alt="" height="250px" />
              <div class="label">
                <div class="label-text"> <a class="text-title">Visual Infography</a> <span class="text-category">Doctor
                    2</span> </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio three" data-cat="Doctor 3">
            <div class="portfolio-wrapper"> <img src="../assets/images/p3.jpeg" alt="" height="250px" />
              <div class="label">
                <div class="label-text"> <a class="text-title">Typography Company</a> <span class="text-category">
                    Doctor 3</span> </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio one" data-cat="Doctor 1">
            <div class="portfolio-wrapper"> <img src="../assets/images/p4.jpeg" alt="" height="250px" />
              <div class="label">
                <div class="label-text"> <a class="text-title">Sonor's Design</a> <span class="text-category">Doctor
                    1</span> </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio two" data-cat="Doctor 2">
            <div class="portfolio-wrapper"> <img src="../assets/images/p5.jpeg" alt="" height="250px" />
              <div class="label">
                <div class="label-text"> <a class="text-title">Typography Company</a> <span class="text-category">
                    Doctor 2</span> </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>
          <div class="portfolio three" data-cat="Doctor 3">
            <div class="portfolio-wrapper"> <img src="../assets/images/p6.jpeg" alt="" height="250px" />
              <div class="label">
                <div class="label-text"> <a class="text-title">Typography Company</a> <span class="text-category">Doctor
                    3</span> </div>
                <div class="label-bg"></div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

    <div class="set">

      <img src="../assets/images/test.jpg" width="100%" height="300px" style="margin-top:60px" />


    </div>

    <div class="end6">
      <div class="container">

        <h3 class="wow">OUR <fan>DEPARTMENT</fan>
        </h3>
        <div class="bar5"></div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="wow1"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum A about the
              this product vituiythhh company height A about the this product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum A about the this product </p>
          </div>

          <div class="col-md-1"></div>
        </div>





        <div class="card-deck">
          <div class="card">
            <img src="../assets/images/p5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="mat2">
                <p class="mat"> MEDICAL EVOCUATION</p>
                <p class="mat1"> Personal Health longer card with supporting text below content as a natural lead-in to
                  additional content. This content longer.</p>
                <button class="but6"> READ MORE</button>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/images/p4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="mat2">
                <p class="mat"> PHYSICAL EXAMINATION</p>
                <p class="mat1"> Personal Health longer card with supporting text below content as a natural lead-in to
                  additional content. This content longer.</p>
                <button class="but6"> READ MORE</button>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/images/p3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="mat2">
                <p class="mat">ULTRASOUND ENDOSCOPY</p>
                <p class="mat1"> Personal Health longer card with supporting text below content as a natural lead-in to
                  additional content. This content longer.</p>
                <button class="but6"> READ MORE</button>
              </div>
            </div>
          </div>
        </div>



        <div class="card-deck">
          <div class="card">
            <img src="../assets/images/p7.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="mat2">
                <p class="mat"> RADIOLOGY/X-RAY</p>
                <p class="mat1"> Personal Health longer card with supporting text below content as a natural lead-in to
                  additional content. This content longer.</p>
                <button class="but6"> READ MORE</button>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/images/p6.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="mat2">
                <p class="mat"> CRITICAL CARE</p>
                <p class="mat1"> Personal Health longer card with supporting text below content as a natural lead-in to
                  additional content. This content longer.</p>
                <button class="but6"> READ MORE</button>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/images/p9.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="mat2">
                <p class="mat">SAFE & SECURE</p>
                <p class="mat1"> Personal Health longer card with supporting text below content as a natural lead-in to
                  additional content. This content longer.</p>
                <button class="but6"> READ MORE</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="end5">
      <div class="container">

        <h3 class="wow">
          <fan>EXPERIANCE</fan> DOCTOR
        </h3>
        <div class="bar5"></div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="wow1"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum A about the
              this product vituiythhh company height A about the this product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum A about the this product </p>
          </div>

          <div class="col-md-1"></div>
        </div>




        <div class="card-deck">
          <div class="card">
            <img src="../assets/images/p7.jpeg" class="card-img-top" alt="...">
            <div class="pet">
              <div class="container">
                <div class="row">

                  <div class="col-8">
                    <p class="pet1"> DR. GEORGE BELLER</p>
                    <p class="pet2">CORDIOLOGISTS</p>

                  </div>
                  <div class="col-4">
                    <p class="pet3"> <i class="fa fa-heart-o"></i> </p>

                  </div>



                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="pet4">
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">Mon-Frid</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">17:00-8:00</p>
                  </div>

                </div>
                <div class="bar6"></div>
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">Saturday</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">16:00-10:00</p>
                  </div>

                </div>
                <div class="bar6"></div>
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">sunday</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">14:00-12:00</p>
                  </div>

                </div>

                <button class="pet6">VIEW PROFILE</button>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/images/p6.jpeg" class="card-img-top" alt="...">
            <div class="pet">
              <div class="container">
                <div class="row">

                  <div class="col-8">
                    <p class="pet1"> DR. GEORGE BELLER</p>
                    <p class="pet2">CORDIOLOGISTS</p>

                  </div>

                  <div class="col-4">
                    <p class="pet3"> <i class="fa fa-heart-o"></i> </p>

                  </div>



                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="pet4">
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">Mon-Frid</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">17:00-8:00</p>
                  </div>

                </div>
                <div class="bar6"></div>
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">Saturday</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">16:00-10:00</p>
                  </div>

                </div>
                <div class="bar6"></div>
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">sunday</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">14:00-12:00</p>
                  </div>

                </div>

                <button class="pet6">VIEW PROFILE</button>
              </div>

            </div>
          </div>
          <div class="card">
            <img src="../assets/images/p9.jpeg" class="card-img-top" alt="...">
            <div class="pet">
              <div class="container">
                <div class="row">

                  <div class="col-8">
                    <p class="pet1"> DR. GEORGE BELLER</p>
                    <p class="pet2">CORDIOLOGISTS</p>

                  </div>
                  <div class="col-4">
                    <p class="pet3"> <i class="fa fa-heart-o"></i> </p>

                  </div>




                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="pet4">
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">Mon-Frid</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">17:00-8:00</p>
                  </div>

                </div>
                <div class="bar6"></div>
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">Saturday</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">16:00-10:00</p>
                  </div>

                </div>
                <div class="bar6"></div>
                <div class="row">
                  <div class="col-6">
                    <p class="pet5">sunday</p>
                  </div>

                  <div class="col-6">
                    <p class="pet7">14:00-12:00</p>
                  </div>

                </div>

                <button class="pet6">VIEW PROFILE</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>






    <div class="bok">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="moto">
              <p class="moto1"> <i class="fa fa-cog"></i> </p>
              <p class="counter">256</p>
              <p class="bok2">HEART TRANSPLANTS</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="moto">
              <p class="moto1"><i class="fa fa-star-o"></i> </p>
              <p class="counter">516</p>
              <p class="bok2">BARIYATRIC SURGERY </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="moto">
              <p class="moto1"> <i class="fa fa-home"></i> </p>
              <p class="counter">616</p>
              <p class="bok2">CRITICAL CARE </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="moto">
              <p class="moto1"><i class="fa fa-heart-o"></i> </p>
              <p class="counter">720</p>
              <p class="bok2">EXPERT DOCTOR </p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="end5">
      <div class="container">

        <h3 class="wow">OUR <fan>CLIENTS</fan> SAY</h3>
        <div class="bar5"></div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="wow1"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum A about the
              this product vituiythhh company height A about the this product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum A about the this product </p>
          </div>

          <div class="col-md-1"></div>
        </div>

        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="pup">
              <section class="bd-example" <!-- style=" background-size:cover; height:400px">
                <div class="conatiner">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <div class="owl-carousel owl-theme" id="empCarousel">
                        <div class="more">
                          <div class="item ">
                            <p class="cop2"><img src="../assets/img/d2.jpeg" style="border-radius:50%;" width="10%"
                                height="100px" /></p>
                            <p class="cop3">JOHN DANIEL</p>
                            <p class="cop4">Business Man</p>
                            <p class="cop5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                            <p class="cop6">Nulla vitae elit libero, libero, a pharetra pharetra pharetra augue augue
                              mollis .</p>
                            <p class="cop6">Nulla vitae elit libero, libero, a pharetra pharetra pharetra augue augue
                              mollis .</p>
                            <p class="cop6">cursec sumance</p>
                          </div>
                        </div>
                        <div class="more">
                          <div class="item">
                            <p class="cop2"><img src="../assets/images/d2.jpg" style="border-radius:50%;" width="10%"
                                height="100px" /></p>
                            <p class="cop3">JOHN DANIEL</p>
                            <p class="cop4">Business Man</p>
                            <p class="cop5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                            <p class="cop6">Nulla vitae elit libero, libero, a pharetra pharetra pharetra augue augue
                              mollis .</p>
                            <p class="cop6">Nulla vitae elit libero, libero, a pharetra pharetra pharetra augue augue
                              mollis .</p>
                            <p class="cop6">cursec sumance</p>
                          </div>
                        </div>

                        <div class="more">
                          <div class="item">
                            <p class="cop2"><img src="../assets/img/d7.jpeg" style="border-radius:50%;" width="10%"
                                height="100px" /></p>
                            <p class="cop3">JOHN DANIEL</p>
                            <p class="cop4">Business Man</p>
                            <p class="cop5"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                            <p class="cop6">Nulla vitae elit libero, libero, a pharetra pharetra pharetra augue augue
                              mollis .</p>
                            <p class="cop6">Nulla vitae elit libero, libero, a pharetra pharetra pharetra augue augue
                              mollis .</p>
                            <p class="cop6">cursec sumance</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="col-2"></div>

        </div>

      </div>
    </div>



    <div class="end6">
      <div class="container">

        <h3 class="wow">LATEST <fan>NEWS</fan>
        </h3>
        <div class="bar5"></div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="wow1"> A about the this product vituiythhh dghnvd olhdsdjWe Are Creating Lorem Ipsum A about the
              this product vituiythhh company height A about the this product vituiythhh dghnvd olhdsdjWe Are Creating
              Lorem Ipsum A about the this product </p>
          </div>

          <div class="col-md-1"></div>
        </div>

        <div class="card-deck">
          <div class="card">
            <img src="../assets/images/p5.jpeg" class="card-img-top" alt="...">

            <div class="het">
              <p class="het1"> 13</p>
              <p class="bar7"> </p>
              <p class="het2"> JUN</p>
            </div>

            <div class="card-body">
              <div class="jet">
                <p class="jet1">WHAT'S THE RIGHT CHOICE</p>
                <p class="jet2"><i class="fa fa-user-o"></i> <data>Admin </data> <i class="fa fa-heart-o"></i> <data>
                    Like : 20 </data> <i class="fa fa-comment-o"></i>
                  <data1>Comments : 10</data1>
                </p>
                <p class="jet4">Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the
                  this product vituiythhh dghnvd Are Creating Lorem Ipsum product </p>
                <a class="jet3" href="home2.html"> READ MORE</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/images/p4.jpeg" class="card-img-top" alt="...">

            <div class="het">
              <p class="het1"> 17</p>
              <p class="bar7"> </p>
              <p class="het2"> JUN</p>
            </div>

            <div class="card-body">
              <div class="jet">
                <p class="jet1">CAREGIVER SERIES</p>
                <p class="jet2"><i class="fa fa-user-o"></i> <data>Admin </data> <i class="fa fa-heart-o"></i> <data>
                    Like : 20 </data> <i class="fa fa-comment-o"></i>
                  <data1>Comments : 10</data1>
                </p>
                <p class="jet4"> Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the
                  this product vituiythhh dghnvd Are Creating Lorem Ipsum product </p>
                <a class="jet3" href="home2.html"> READ MORE</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/images/p3.jpeg" class="card-img-top" alt="...">

            <div class="het">
              <p class="het1"> 19</p>
              <p class="bar7"> </p>
              <p class="het2"> JUN</p>
            </div>


            <div class="card-body">
              <div class="jet">
                <p class="jet1">LITTLE HEARTS & BIG HEATS</p>
                <p class="jet2"><i class="fa fa-user-o"></i> <data>Admin </data><i class="fa fa-heart-o"></i> <data>
                    Like : 20 </data> <i class="fa fa-comment-o"></i>
                  <data1>Comments : 10</data1>
                </p>
                <p class="jet4"> Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the
                  this product vituiythhh dghnvd Are Creating Lorem Ipsum product </p>
                <a class="jet3" href="home2.html"> READ MORE</a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>



    <div class="vet">
      <div class="container">
        <div class="row">


          <div class="col-md-3">

            <p class="vet1">ABOUT US </p>
            <p class="vet2"></p>
            <p class="vet3"> Are Creating Lorem Ipsum A about the this product vituiythhh company height A about the
              this product vituiythhh </p>
            <p class="vet4"><i class="fa fa-phone"></i> Phone : 001(407) 903-3452 </p>
            <p class="vet5"><i class="fa fa-envelope-o"></i> Email : Info@testminds.com</p>
            <p class="vet6"></p>
            <a class="vet7" href="home2.html"> <i class="fa fa-twitter"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-facebook"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-instagram"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-linkedin"></i></a>
            <a class="vet7" href="home2.html"> <i class="fa fa-dribbble"></i></a>

          </div>





          <div class="col-md-3">
            <p class="vet1">OUR PAGES </p>
            <p class="vet2"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> About Us</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Services</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Gallery</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Blog</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Contact</p>
            <p class="vet9"></p>

          </div>





          <div class="col-md-3">

            <p class="vet1">OUR SERVICES </p>
            <p class="vet2"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> About Us</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Services</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Gallery</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Blog</p>
            <p class="vet9"></p>
            <p class="vet8"> <i class="fa fa-angle-right"></i> Contact</p>
            <p class="vet9"></p>


          </div>





          <div class="col-md-3">
            <p class="vet1">FLIKER FEED </p>
            <p class="vet2"></p>
            <div class="row">
              <div class="col">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" style="margin-bottom:4px" />
              </div>
              <div class="col">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>

              <div class="col">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" />
              </div>

            </div>



            <div class="row">
              <div class="col-4">
                <img src="../assets/images/p4.jpeg" width="100%" height="85px" style="margin-bottom:4px" />
              </div>
              <div class="col-4">
                <img src="../assets/images/p5.jpeg" width="100%" height="85px" />
              </div>

              <div class="col-4">
                <img src="../assets/images/p4.jpeg" width="100%" height="85px" />
              </div>

            </div>


            <div class="row">
              <div class="col-4">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>
              <div class="col-4">
                <img src="../assets/images/p2.jpeg" width="100%" height="85px" />
              </div>

              <div class="col-4">
                <img src="../assets/images/p1.jpeg" width="100%" height="85px" />
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>



    <div class="footer">
      <p class="prot"> Test@2021.com</p>


    </div>























    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

    <script src="../owlcarousel/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="../counter/jquery.counterup.min.js"></script>


    <script src="../assets/js/mixitup.min.js"></script>

    <script>
      jQuery(document).ready(function () {
        //var owl = $('#empCarousel');
        $('#empCarousel').owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        })
      })
    </script>






    <script>
      $(document).ready(function () {
        // <
        // !--$('.counter').counterUp({
        //   <
        //   !--delay: 10,
        //   <
        //   !--time: 1000-- >
        //     <
        //     !--
        // });
        // -- > -- > -- >

        var filterList = {

          init: function () {
            // MixItUp plugin
            // http://mixitup.io
            $('#portfoliolist').mixItUp({
              selectors: {
                target: '.portfolio',
                filter: '.filter'
              },
              load: {
                filter: '.app'
              }
            });

          }

        };

        // Run the show!
        filterList.init();
      });

      //jQuery(document).ready(function( $ ) {
      //(function( $ ) {

      //});
    </script>
    <script>
      jQuery(document).ready(function ($) {
        $('.counter').counterUp({
          delay: 10,
          time: 1000
        });
      });
    </script>
</body>

</html>
